<footer class="page-footer font-small bgColorR pt-4">
  <div class="container-fluter">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://github.com/barbarasalla/" target="_blank" class="icoGitHub">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/barbara-salla/" target="_blank" class="icoLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bgColorRL text-center py-2">
    <span class="text-light"> &copy; 2022 Copyright: Bárbara Salla </span>
</div>
</footer>


