<div class="container-fluid bgColor">

<div class="container bgColor">

    <div class="row flex-wrap pt-5 ml-5 mr-5">
        <div class="col-md-3 ml-5">
            <img src="{{usuario.foto}}" alt="" width="200px" height="200px"  class="img-fuid rounded-circle">
        </div>

        <div class="col-md-8 mt-4 ml-3">
            <ul class="list-unstyled">
                <li class="noWrap"><h6 class="font-weight-bold">Nome:</h6><p>{{usuario.nome}}</p></li>
                <li class="noWrap"><h6 class="font-weight-bold">Tipo de usuário:</h6><p>{{usuario.tipo}}</p></li>
            </ul>
        </div>
    </div>
   
    <div class="container bgColor">
            <div class="card mb-3 m-5 p-4" *ngFor="let postagem of usuario.postagem | orderBy : key : reverse">
                <div class="row no-gutters" >
                  <div class="col-md-4">
                    <img src="{{postagem.foto}}" onerror="this.src = 'https://imgur.com/NbIsnxC.png'" alt="..."  width="300px" height="300px">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{postagem.titulo}}</h5>
                      <p class="card-text">{{postagem.texto}}</p>
                      <p class="card-text"><small class="text-muted">{{postagem.data | date: 'dd/MM/yyyy'}}</small></p>
                      <small class="text-muted">Tema: {{postagem.tema.descricao}}</small>
                      <div class="p-3 d-flex justify-content-center" *ngIf="verificaoaUsuario()">
                      <button type="button" class="btn btn-warning" [routerLink]="['/postagem-edit', postagem.id]" href="">Editar</button>
                      <button type="button" class="btn btn-danger ml-3" [routerLink]="['/postagem-delete', postagem.id]" href="">Apagar</button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

</div>
