
<nav class="navbar navbar-expand-lg navbar-light bgColor">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center fs-16">
        <li class="nav-item active">
         <img src={{foto}} alt="icone de perfil do user" width="40px" height="40px" class="img-fuid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-black">Olá, <a [routerLink]="['/perfil', id]">{{nome}}</a></p>
        </li>
        <li class="nav-item pl-3">
            <a [routerLink]="['/user-edit', id]"><p class="m-0"><i class="fa fa-pencil-square-o text-black" aria-hidden="true"></i></p></a>            
        </li>
      </ul>

      <ul class="mr-auto d-flex justify-content-center list-unstyled">
        <li><img src="https://imgur.com/9yAsf99.png" alt=""></li>

      </ul>

      <button class="btn btn-outline-dark btn-sm" type="button" (click)="sair()">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></button>      
    </div>
  </nav>