@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

#imgBg{
    background-image: url(https://imgur.com/qIV47Hc.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    font-family: 'italiana', sans-serif;
    color: #ff0000;
}