
<div class="container-fluid bgColor">

<div class="container-fluid bgColor">
  
    <div class="row bgColorGreen d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-black ml-5">
                    <h2 class="fs-54 fontQuick"><h2 class="fs-54 noWrap ">Cultive o</h2> Urbano</h2>
                    <h6 class="fs-18 maxWidth-50">Compartilhe dicas sobre como produzir e cultivar vegetais e plantas em casa!</h6>
                </div>
            </div>

            <div class="row justify-content-center ml-3 mt-3 mb-3">
                <div class="col-md-6 d-flex flex-wrap-nowrap">
                    <button class="btn btn-dark mr-2 noWrap" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                    <a class="btn btn-outline-dark px-3 noWrap" href="#postagens">Ver Postagens</a>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <img src="https://imgur.com/TOzpVP0.png" alt="" width="500px" height="500px">
        </div>
        
    </div>

    <div class="container mb-5 mt-5 bgColor" id="postagens">
      <nav>
          <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
  
            <a class="nav-link active text-dark font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>
            <a (click)='findByIdUsuario()' class="nav-link text-dark font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>
            <a class="nav-link text-dark font-weight-bold" id="nav-postagensPorTemas-tab" data-toggle="tab" href="#postagensPorTemas" role="tab" aria-controls="nav-postagensPorTemas" aria-selected="false">Postagens Por Tema</a>
  
          </div>
        </nav>
  
        <div class="tab-content mt-5" id="nav-tabContent">
          <div class="tab-pane fade show active bg-post" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">    

            <div class="row justify-content-center mt-5 mb-5">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" id="titulo" placeholder="Digite um titulo de postagem para pesquisar" [(ngModel)]="nomePostagem" (keyup)="findByTituloPostagem()">
                </div>
              </div>
            </div>

            <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-10">

            <div class="post" *ngFor="let postagem of listaPostagens | orderBy : key : reverse">

              <div class="square">
                <img src={{postagem.foto}} onerror="this.src = 'https://imgur.com/JYIYdmj.png'" alt="..." width="100%" height="400px">
              <div class="corpo-postagem">
                <div class="h1">{{postagem.titulo}}</div>
                <p>{{postagem.texto}}</p> 
                <small class="fs-16">Tema: {{postagem.tema.descricao}}</small>  
                <div class="row justify-content-between ml-1 mr-1 mt-1">
                  <p class="card-text fs-18 link-post"><small>by: <a [routerLink]="['/perfil', postagem.usuario.id]">{{postagem.usuario.nome}}</a></small></p> 
                  <p class="card-text fs-18"><small>Publicado em: {{postagem.data | date: 'dd/MM/yyyy'}}</small></p> 
                </div>
              
                <div class="mt-4 mb-4">

                </div>
              </div>
              </div>
            </div>
          </div>

          </div>
          </div>
        </div>

            <!-- <div class="card mb-3 m-5 p-4" *ngFor="let postagem of listaPostagens | orderBy : key : reverse">
              <div class="row no-gutters" >
                <div class="col-md-4">
                  <img src="{{postagem.foto}}" onerror="this.src = 'https://imgur.com/NbIsnxC.png'" alt="..."  width="300px" height="300px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{postagem.titulo}}</h5>
                    <p class="card-text">{{postagem.texto}}</p>
                    <p class="card-text"><small class="text-muted">{{postagem.data | date: 'dd/MM/yyyy'}}</small></p>
                    <small class="text-muted">Tema: {{postagem.tema.descricao}}</small>
                    <p class="card-text"><small class="text-muted">by: <a  [routerLink]="['/perfil', postagem.usuario.id]">{{postagem.usuario.nome}}</a></small></p>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- </div>  -->
  
  
          <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">           


            <div class="card mb-3 m-5 p-4" *ngFor="let postagem of usuario.postagem | orderBy : key : reverse">
              <div class="row no-gutters" >
                <div class="col-md-4">
                  <img src="{{postagem.foto}}" onerror="this.src = 'https://imgur.com/JYIYdmj.png'" alt="..."  width="300px" height="300px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{postagem.titulo}}</h5>
                    <p class="card-text">{{postagem.texto}}</p>
                    <p class="card-text"><small class="text-muted">{{postagem.data | date: 'dd/MM/yyyy'}}</small></p>
                    <small class="text-muted">Tema: {{postagem.tema.descricao}}</small>
                    <div class="p-3 d-flex justify-content-center">
                    <button type="button" class="btn btn-warning" [routerLink]="['/postagem-edit', postagem.id]" href="">Editar</button>
                    <button type="button" class="btn btn-danger ml-3" [routerLink]="['/postagem-delete', postagem.id]" href="">Apagar</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
          <div class="tab-pane fade" id="postagensPorTemas" role="tabpanel" aria-labelledby="nav-postagensPorTemas-tab">

            <div class="row justify-content-center mt-5 mb-5">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" id="titulo" placeholder="Digite um titulo de postagem para pesquisar" [(ngModel)]="nomeTema" (keyup)="findByNomeTema()">
                </div>
              </div>
            </div>
  
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div *ngFor="let tema of listaTemas">
                  <div class="post" *ngFor="let postagem of tema.postagem | orderBy : key : reverse">
                    <div class="square">
                      <img src={{postagem.foto}} onerror="this.src = 'https://imgur.com/JYIYdmj.png'" alt="..." width="100%" height="400px">
                    <div class="corpo-postagem">
                      <div class="h1">{{postagem.titulo}}</div>
                      <p>{{postagem.texto}}</p>           
                      <div class="row justify-content-between mr-1 ml-1">
                        <p class="card-text fs-18 link-post"><small>by: <a [routerLink]="['/perfil', postagem.usuario.id]">{{postagem.usuario.nome}}</a></small></p> 
                        <p class="card-text fs-18"><small>Publicado em: {{postagem.data | date: 'dd/MM/yyyy'}}</small></p>
                      </div>         
                       
                    </div>
                    </div>
                  </div>
              </div>
            </div>            
            </div>
  
          </div>
        </div> 
  </div>
  
  
  <div class="container bgColor border-top p-3">
    <h5 class="mb-5 mt-5">Alguns beneficíos de cultivar plantas e vegetais em casa:</h5>
    <ul class="list-unstyled">
      <li class="media">
        <img src="https://imgur.com/TqpoOz1.png" class="mr-3" width="80px" height="80px" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Produzir seu próprio alimento</h5>
          <p>All my girls vintage Chanel baby. So you can have your cake. Tonight, tonight, tonight, I'm walking on air. Slowly swallowing down my fear, yeah yeah. Growing fast into a bolt of lightning. So hot and heavy, 'Til dawn. That fairy tale ending with a knight in shining armor. Heavy is the head that wears the crown.</p>
        </div>
      </li>
      <li class="media my-4">
        <img src="https://imgur.com/X9L42qh.png" class="mr-3" width="80px" height="80px" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Benefícios à sua saúde e ao ambiente</h5>
          <p>Maybe a reason why all the doors are closed. Cause once you’re mine, once you’re mine. Be your teenage dream tonight. Heavy is the head that wears the crown.</p>
        </div>
      </li>
      <li class="media">
        <img src="https://imgur.com/hS01kSq.png" class="mr-3" width="80px" height="80px" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Sua casa ganha mais vida</h5>
          <p>Are you brave enough to let me see your peacock? There’s no going back. This is the last time you say, after the last line you break. At the eh-end of it all.</p>
        </div>
      </li>
    </ul>
  
  </div>

</div>

<div class="container bgColor pt-5 pb-5 border-top">
  <div class="row justify-content-center">

    <div class="col-md-6 text-center p-5" id="sobrenos">
      <h1>Sobre nós</h1>
      <p class="text-justify">Surgimos em 2022, com o objetivo de reunir e compartilhar informações e dicas para realizar o cultivo e manutenção de plantas em casas e apartamentos.</p>
      <p> </p>
    </div>

    <div class="col-md-6">
      <img src="https://imgur.com/avlGK8w.png" alt="" width="100%" height="100%">
    </div>
  </div>
</div>


</div>


  
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div class="form-group">
             <label for="titulo">Titulo</label>
             <input type="text" [(ngModel)]="postagem.titulo" class="form-control" id="titulo" placeholder="Digite o título">
         </div>
         <div class="form-group">
            <label for="texto">Texto</label>
            <textarea type="text" class="form-control" [(ngModel)]="postagem.texto" name="texto" id="texto" placeholder="Digite o texto entre 5-1000 caracteres" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="fotoPublicacao">Foto</label>
          <input type="text" [(ngModel)]="postagem.foto" class="form-control" id="fotoPublicacao" placeholder="Cole a url da imagem.">
      </div>
        <div class="form-group">
            <label for="texto">Escolha um tema ou <a routerLink="/tema" data-dismiss="modal">cadastre um novo</a>:</label>
            <select class="form-control" name="tema" id="tema" [(ngModel)]="idTema" (change)="findByIdTema()">
                <option *ngFor="let tema of listaTemas" value="{{tema.id}}">{{tema.descricao}}</option>
            </select>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>
